:root {
    --main-bg-color: #000;
    --main-text-color: #e1f2f5;
    --dialog-bg-color: #001020;
    --light-grey: #555;
    --highlight: #e91e63;
    --secondary-color: #8A8C8F;
    --primary-color: #e1f2f5;
    --tertiary-color: #46c5ff;
    --error-color: #e91e63;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.4;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 11000;
    height: 100px;
    background: var(--dialog-bg-color);
}

.header > div {
    display: flex;
    align-items: center;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Form Dialog */
.dialog-block {
    background-color: var(--dialog-bg-color);
    color: var(--main-text-color);
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 20px;
    border: 1px solid var(--light-grey);
    position: relative;
    box-sizing: border-box;
}

.dialog-title {
    background-color: #161616;
    margin: 0;
    padding: 20px;
    color: #e1f2f5;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.6;
    border-bottom: 1px solid #555;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.dialog-content {
    padding-top: 60px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    flex: 0 0 150px;
    margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="url"] {
    flex: 1 1 auto;
}

.form-group-bottom-right {
    display: flex;
    justify-content: flex-end;
}


/* Link colors */
a:link,a:visited,.link-color {
    color: var(--tertiary-color);
    text-decoration: none;
}


.background {
    background-color: var(--main-bg-color);
    margin: 0;
    counter-reset: section;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

/* table styles */

table {
    border-collapse: separate;
    border-spacing: 2px;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}



a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.raid-details-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.raid-server-status {
    width: 100%;
    margin-top: 10px;
}

.card-content {
    max-width: 1000px;
}

.oval-box {
    width: 200px;
    height: 100px;
    background: var(--light-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content-center {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.character-list {
    list-style: none;
}

.character-list li {
    margin-bottom: 5px;
}

#messagePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border: 1px solid var(--light-grey);
    padding: 20px;
    text-align: center;
}

#messageText {
    font-size: 24px;
    font-weight: bold;
}

.success {
    color: forestgreen;
}

.error {
    color: var(--error-color);
}

/*.form-group h3, .form-group h2 {*/
/*    padding-right: 20px;*/
/*    display: inline-block;*/
/*}*/

.profile-visible {
    display: block;
    font-size: 24px;
    color: var(--primary-color);
    position: fixed;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    background-color: var(--main-bg-color);
}

.profile-hidden {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--light-grey);
    color: var(--main-bg-color);
    display: inline-block;
    margin-right: 20px;
}

.button:hover {
    background-color: gray;
}

.raid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
}

.signup-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    background-color: var(--light-grey);
    color: var(--main-bg-color);
}

.character-dropdown {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.character-option {
    color: var(--main-bg-color);
    padding: 12px 16px;
    display: block;
}

.character-option:hover {
    background-color: var(--light-grey);
}

#topSection {
    margin-top: 120px;
}

#editUserProfile {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    background: var(--dialog-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--light-grey);
}


#characterList {
    display: flex;
    align-items: center;
    text-align: center;
}

#charactersSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#characterFormContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#characterFormContainer #characterForm {
    background-color: #161616;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 50%;
    box-sizing: border-box;
}

#characterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-title {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


