:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #5D5E5E;
    --secondary-color: #ffffff;
    --tertiary-color: #F5881F;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}



.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}


.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}


.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}

.song {
    padding: 2px;
    display: flex;
}

.song .title {
    flex: 20%;
}

.song .album {
    flex: 80%;
}

/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/
.song:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -40px;
}

.hidden {
    display: none;
}

/* table styles */ 

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

/* my css stuff */
.raid-details-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.raid-server-status {
    width: 100%;
    margin-top: 10px;
}

.card-content {
    max-width: 1000px;
}

.oval-box {
    width: 200px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content-center {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.character-list {
    list-style: none;
}

.character-list li {
    margin-bottom: 5px;
}

#messagePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

#messageText {
    font-size: 24px;
    font-weight: bold;
}

.success {
    color: forestgreen;
}

.error {
    color: red;
}

.form-group h3, .form-group h2 {
    padding-right: 20px;
    display: inline-block;
}

.profile-visible {
    display: block;
    font-size: 24px;
    color: white;
    position: fixed;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    background-color: black;
}

.profile-hidden {
    display: none;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #000;
    display: inline-block;
}

.button:hover {
    background-color: gray;
}

.raid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;

}

.signup-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000;
}



